[Unit]
Description=Minecraft Service
After=default.target

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/java -jar /minecraft/forge-1.12.2-14.23.5.2860-installer.jar
